.container-1{
    border: 0.5px solid rgb(0, 0, 0);
    width: 75%;
    margin: 0 auto;
    flex-direction: row;
    text-align: center;
}

.flex-box-rps{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-box-rps img:hover{
   box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}